* {
    font-family: JetbrainsMono Nerd Font;
    font-size: 14px;
    min-height: 0;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 0px;
}

#waybar {
    background: transparent;
    color: #c6d0f5;
    margin: 2px 2px;
}

#workspaces {
    border-radius: 5px;
    margin: 5px;
    background: #101010;
    margin-left: 2px;
}

#workspaces button {
    color: #a8d5e2;
    border-radius: 5px;
    padding: 0.4rem;
}

#workspaces button.active {
    color: #a4c973;
    border-radius: 5px;
}

button {
    background: transparent;
}

#workspaces button:hover {
    background: #1e1e1e;
    border: 0px solid transparent;
}

#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network {
    background-color: #101010; /* Consistent dark background */
    padding: 0.5rem 1rem;
    margin: 5px 0;
}

#clock {
    color: #a4c973;
    border-radius: 5px;
}

#battery {
    color: #f7a040;
}

#battery.charging {
    color: #5d9e5d;
}

#battery.warning:not(.charging) {
    color: #e65252;
}

#backlight {
    color: #7ab3c4;
}

#backlight,
#battery {
    border-radius: 0;
}

#pulseaudio {
    color: #e2a061;
    border-radius: 5px 0px 0px 5px;
}

#network {
    color: #8c8cd1;
    border-radius: 0 5px 5px 0;
}

#custom-lock {
    background-color: #101010;
    padding: 0.5rem 1rem;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #7b9eaf;
}

#custom-quit {
    background-color: #101010;
    padding: 0.5rem 1rem;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #e65252;
}

#custom-reboot {
    background-color: #101010;
    padding: 0.5rem 1rem;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #f7a040;
}

#custom-power {
    background-color: #101010;
    padding: 0.5rem 1rem;
    margin: 5px;
    border-radius: 5px 5px 5px 5px;
    color: #9c73c9;
}
